.p-timer {
    position: relative;
}
.timer {
    display: inline-block;
    height: 100%;
    position: absolute;
    left: 10px;
    right: 10px;
}

.time {
    transition: all 0.3s ease;
}

.timer > .time{
    float: right;
}

.timer > .date{
    float: left;
}